

{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}

<div class="d-flex justify-content-center p-4">
    <div class="col-6">
        <div class="card bg-dark p-4">
            <h3 class="text-light text-center">{{ title }}</h3>
            <div class="card-body">
                <form  action="{% url 'edit_account' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-floating flex-fill mb-4">
                        {{ form.username }}
                        <label for="{{ form.username.id_for_label }}" class="form-label">
                            Логин
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form.first_name }}
                        <label for="{{ form.first_name.id_for_label }}" class="form-label">
                            Имя пользователя
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form.last_name }}
                        <label for="{{ form.last_name.id_for_label }}" class="form-label">
                            Фамилия пользователя
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}" class="form-label">
                            Почта
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form2.photo }}
                        <label for="{{ form2.photo.id_for_label }}" class="form-label">

                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form2.phone_number }}
                        <label for="{{ form2.phone_number.id_for_label }}" class="form-label">
                            Номер телефона
                        </label>
                    </div>





                    <div class="form-floating flex-fill mb-4">
                        {{ form.old_password }}
                        <label for="{{ form.old_password.id_for_label }}" class="form-label">
                            Текущий Пароль
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form.new_password }}
                        <label for="{{ form.new_password.id_for_label }}" class="form-label">
                            Новый пароль
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ form.confirm_password }}
                        <label for="{{ form.confirm_password.id_for_label }}" class="form-label">
                            Подтвердить пароль
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success rounded" style="width: 150px;">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main %}